<template name="home">
<section id="intro" class="colored text-center">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="container">
                    <a class="navbar-brand" href="{{pathFor 'home'}}">{{Config.name}}</a>
                    <div id="main-nav" class="navbar-collapse">
                        <ul class="social-links">
                            {{#each socialMedia}}
                            <a href="{{url}}" target="_blank"><li class="fa fa-{{icon}}"></li></a>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="intro-well wow animated bounceIn">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <h1>{{Config.title}}</h1>
                    <h2 style="color:white;" class="hidden-xs">{{Config.subtitle}}</h2>
                    <a class="btn btn-success" href="{{pathFor 'entrySignUp'}}">Get started</a>
                </div>
                <!-- 				<div class="col-lg-6 col-sm-6">
                    <img class="img-responsive" src="/img/image-header1.png" alt="">
                </div> -->
            </div>
        </div>
    </div>
</section>
<section id="how-it-works" class="text-center">
    <div class="container wow fadeIn animated">
        <h3>How it works</h3>
        <h4>{{Config.name}} - {{Config.subtitle}}</h4>
    </div>
    <div class="container">
        <div class="row" id="icon-row">
            <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
                <div class="iconbox">
                    <i class="fa fa-plane fa-3x"></i>
                </div>
                <p class="icntitle">1. Step 1</p>
                <p class="icnp">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.2s">
                <div class="iconbox">
                    <i class="fa fa-bolt fa-3x"></i>
                </div>
                <p class="icntitle">2. Step 2</p>
                <p class="icnp"> Oratio me istius philosophi non offendit; Qua tu etiam inprudens utebare non numquam.</p>
            </div>
            <div class="col-md-4 wow fadeInRight animated" data-wow-delay="0.3s">
                <div class="iconbox">
                    <i class="fa fa-check fa-3x"></i>
                </div>
                <p class="icntitle">3. Step 3</p>
                <p class="icnp">Et ille ridens: Video, inquit, quid agas; Duo Reges: constructio interrete.</p>
            </div>
        </div>
    </div>
</section>
<!-- <section id="examples">
    <div class="container wow fadeInUp animated">
        <h1>Great features!</h1>
        <h2>You can use {{Config.siteName}} to do anything</h2>
    </div>
</section> -->
<section id="ipad" class="colored text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>A revolutionary product</h3>
                <p>Do really cool stuff really quickly</p>
                <p class="text-center">
                <a href="{{Config.about}}" target="_blank" class="btn btn-success">
                Learn more
                </a>
                </p>
            </div>
            <div class="col-sm-6">
                <img id="ipad" src="/img/ipad.png" alt="" class="wow animated fadeInRight" data-wow-delay="0.1s">
            </div>
        </div>
    </div>
</section>
<section id="final">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center wow fadeInDown animated">
                <h3>
                Your life will be instantly better
                </h3>
                <div class="text-center">
                    <a class="btn btn-primary" href="{{pathFor 'entrySignUp'}}">Take a look</a>
                </div>
            </div>
            <div class="col-md-8  wow fadeInUp animated">
                <img src="img/screenshot.png" class="img-responsive" alt="picture">
            </div>
        </div>
    </div>
</section>
</template>