<template name="dashboardLayout">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div class="admin-layout">
		<div class="skin-blue">
			{{> dashboardHeader}}
			<div class="wrapper row-offcanvas row-offcanvas-left">
				{{> dashboardSidebar }}
				<aside class="right-side">
					<section class="content-header">
						<h1>
							{{$.Session.get 'title'}}
							<small>{{$.Session.get 'subtitle'}}</small>
						</h1>
						<ol class="breadcrumb">
							<li><a href="/admin/">Dashboard</a></li>
							{{#if $.Session.get 'language'}}
							<li><a href="/dashboard/{{$.Session.get 'language'}}/">{{Language.name}}</a></li>
							{{/if}}
<!-- 							
							{{#if $.Session.equals 'admin_collection_page' 'new'}}
							<li><a href="/admin/{{admin_collection}}/new">New</a></li>
							{{/if}}

							{{#if $.Session.equals 'admin_collection_page' 'edit'}}
							<li><a href="/admin/{{admin_collection}}/edit">Edit</a></li>
							{{/if}} -->
						</ol>
					</section>
					<section class="content">
						{{> yield }}
					</section>
				</aside>

			</div>
		</div>
	</div>
</template>