@sidebar-width: 300px;

@media (max-width: @screen-xs-max) {
 
 #xs-sidebar-overlay
 {
  position: absolute;
  top: -100%;
  left: 0;
  bottom:0;
  right:0;
  background-color: black;
  opacity: 0;
  display: none;
  cursor: pointer;

  
  -webkit-transition: opacity 0.4s;
     transition: opacity 0.4s;

 }


 .master-layout, .navbar-collapse
 {
   -webkit-transition: transform 0.4s;
   transition: transform 0.4s;
 }

 .navbar-collapse
 {

  position: fixed;
  // -webkit-transform: translate(-@sidebar-width,0px);
  -webkit-transform: translate(-301px,0px);
  top: 0;
  width: 300px;
  height: 100%;
  background-color: black;
  display: block !important;

 }

 body.sidebar-active
 {
  .navbar-collapse
  {
    display: inherit;
  }

  .master-layout
  {
    position: relative;
    -webkit-transform: translate(@sidebar-width,0px);
  }

  #xs-sidebar-overlay
  {
    display: block;
    opacity: 0.7;
  }
 }       
}