<template name="dashboard">
	<div class="container">
		<div class="row" id="champion-messages">
			<div class="col-md-3">
				{{> add}}
				{{> favorites}}
			</div>
			<div class="col-md-9">
				{{> alert}}
				{{> posts}}
			</div>
		</div>
	</div>
</template>


<template name="add">
	<div class="panel panel-default">
		  <div class="panel-heading">
				<h3 class="panel-title">Add a Post</h3>
		  </div>
		  <div class="panel-body">
				{{#autoForm id="add" collection="Posts" type="insert"}}
				{{> afQuickField name="title"}}
				{{> afQuickField name="content"}}
				<button type="submit" class="btn btn-primary">Add Post</button>
				{{/autoForm}}
		  </div>
	</div>
</template>

<template name="posts">
	{{#each Posts}}
		<div class="panel panel-default">
			  <div class="panel-heading">
					<h3 class="panel-title">{{title}}</h3>
			  </div>
			  <div class="panel-body">
					{{content}}
			  </div>
			  <div class="panel-footer">
			  	{{> favoriteButton _id=_id}}
			  </div>
		</div>
	{{/each}}
</template>

<template name="favorites">
	{{#if Favorites 'Posts'}}
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Favorites</h3>
		</div>
		<div class="panel-body">
			<ul>
			{{#each Favorites 'Posts'}}
				<li>
					<a>{{title}}</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</template>