<template name="profile">
	<div class="container">
		<div class="row" id="champion-messages">
			<div class="col-md-12">{{> alert}}</div>
			<div class="col-md-4">
				{{#autoForm id="updatePicture" collection=Users doc=currentUser type="update"}}

							{{> afFileUpload name="profile.picture" collection='ProfilePictures'}}
				<button type="submit" class="btn btn-primary">Update</button>
				{{/autoForm}}
			</div>
			<div class="col-md-8">
				{{#autoForm id="updateProfile" collection=Users doc=currentUser type="update"}}
				{{> afQuickField name='profile'}}
				<button type="submit" class="btn btn-primary">Update</button>
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>